.speakerBubble {
    background-color: #EBFF005d;
    border-radius: 50%;
    height: 30vh;
    aspect-ratio: 1/1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    transition: 0.3s ease;
}

.speakerBubble .inner {
    background-color: #EBFF00ff;
    width: 75%;
    aspect-ratio: 1/1;
    
    border-radius: 50%;
    position: relative;
    transition: 0.3s ease;
}

.speakerBubble .inner img{
    width: 50%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
} 