.speech-footer{
    width: calc(100% - 40px);
    /* height: 100%; */

    background-color: transparent;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    
    margin-top: 20px;
    /* padding: 5px 10px;  */
    
    border-radius: 20px;
}

.speech-footer .response{
    height: 50vh;
    width: 100%;
    background-color: #18181899;
    
    display: flex;
    justify-content: center;
    align-items: start;
    
    overflow-x: hidden;
    overflow-y: auto;
}

.speech-footer .response p{
    color:#ffd000;
    font-weight: bold;
    font-size: 3rem;
    margin: 20px;
}

.speech-footer .speech{
    height: 50px;
    width: 100%;
    background-color: #000;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.speech-footer .speech p{
    color: #e7e7e7;
    font-weight: normal;
    font-size: 1.2rem;
}