h2 {
  max-width: 70vw;
  z-index: 1;

  /* highlight text */
  color:#ffd000;
  background-color: rgb(22, 22, 22);
  padding: 5px 10px;
  border-radius: 10px;

  font-size: 2rem;

  pointer-events: none;
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
  
  background-color: #303030;
  /* background-color: #262626; */

  overflow: hidden;

  position: relative;
}

.microphone{
  width: 500px;
  aspect-ratio: 1/1;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #d9d9d95d;

  border-radius: 50%;
  transition: 0.3s ease;
  
  position: absolute;

  pointer-events: none;

  /* overflow: hidden; */

  transform: translate(-50%, -50%);
}

.microphone .inner{
  width: 80%;
  height: 80%;
  background-color: #d9d9d9ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  transition: 1ms ease;
}

.microphone .inner img{
  width: 20%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  transition: 1ms ease;
}