#Home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

  background-color: #303030;
  /* color: #fff; */
  /* background-color: #262626; */

  overflow: hidden;

  position: relative;
}

#Home .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 100%;

  background-color: transparent;
  outline: none;
  border: none;
}

#Home .bottom {
  /* padding-top: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
  /* height: 50%; */
  background-color: transparent;
  outline: none;
  border: none;

  margin: 40px;
}