.Register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #303030;

    width: 100vw;

    overflow: hidden;
}

.Register .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 50%;
}

.Register .bottom {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    height: 50%;
}

.Register p{
    font-size: 2rem;
    color: rgb(230, 230, 230);
    font-weight: bold;

    max-width: 70vw;
}